{% extends "base_project.html" %}
{% load compress humanize static hc_extras %}

{% block title %}Add {{ plugin.label }} - {{ site_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>{{ plugin.label }}</h1>
        <br />

        <form id="add-channel-form" method="post">
        {% csrf_token %}

        {{ setup_form_html|safe }}

        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-default">Add Integration</button>
                <a href="{% url 'hc-channels' project.code %}" class="btn btn-link">Cancel</a>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
